---
layout: page
title: Blog
permalink: /blog/
---

<article class="post-content">
  <ul class="post-list">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> <h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2></li>
      {{ post.content | strip_html | truncatewords:35}}<br>
      <a href="{{ post.url }}">Read more...</a><br><br>

    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>


</article>

