<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
	  <li>Riccardo Giannitrapani</li>
          <li><a href="mailto:{{ site.email }}">Email</a></li>
	  <li>	<a href="https://drive.google.com/file/d/0B1eAJHyh8khScEpiUzhmX0E0RTQ/edit?usp=sharing">Curriculum
	  Vitae</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
	  <li>
            <a href="http://ilprofbicromatico.wordpress.com">
	      <span class="fa-stack fa-lg">
		<i class="fa fa-circle-thin fa-stack-2x"></i>
		<i class="fa fa-wordpress fa-stack-1x"></i>
	      </span>
            </a>
          </li>

	  <li>
            <a href="http://lafieradelleimperfezioni.blogspot.it/">
	      <span class="fa-stack fa-lg">
		<i class="fa fa-circle-thin fa-stack-2x"></i>
		<i class="fa fa-book fa-stack-1x"></i>
	      </span>
            </a>
          </li>

	  
          <li>
            <a href="https://plus.google.com/+RiccardoGiannitrapani/about">
	      <span class="fa-stack fa-lg">
		<i class="fa fa-circle-thin fa-stack-2x"></i>
		<i class="fa fa-google-plus fa-stack-1x"></i>
	      </span>
            </a>
          </li>


          <li>
            <a href="https://twitter.com/orporick">
	      <span class="fa-stack fa-lg">
		<i class="fa fa-circle-thin fa-stack-2x"></i>
		<i class="fa fa-twitter fa-stack-1x"></i>
	      </span>
            </a>
          </li>

          <li>
            <a href="https://www.facebook.com/riccardo.giannitrapani">
	      <span class="fa-stack fa-lg">
		<i class="fa fa-circle-thin fa-stack-2x"></i>
		<i class="fa fa-facebook fa-stack-1x"></i>
	      </span>
            </a>
          </li>

        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
